@import "./InputTask.module.css";
@import "./Main.module.css";
@import "./TaskList.module.css";
@import "./Task.module.css";

:root{
  --h1-height: 4rem;
  --header-height: 4rem;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

h1 {
  margin: 0;
  border: 1px solid;
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 0.25em 0.5em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: var(--h1-height);
}

.none {
  display: none;
}

header {
  height: var(--header-height);
}